body{
    background-image: url(bg.jpg);
    font-size: 30px;
    color: white;
}
img{
    width: 200px;
}
b{
    color:aqua;
}
.text_images_and_result{
    background-color: rgb(4, 55, 59);
    width: 450px;
    box-shadow: 10px 10px 100px yellow;
}
h1 img{
    width: 100px;
    height: 90px;
    
}   
#result img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.footer_div{
    margin-bottom:50px;
}
.footer_div h4{
    background-color:white;
    border-radius:10px;
    padding:5px;
    box-shadow:5px 12px 15px aqua; 
    color: black;
}
.footer_div img{
    width:80px;
}
.copy_right-footer{
    position:fixed;
    bottom:0;
    width:100%;
    line-height:2;
    text-align:center;
    background-color:aqua;
  }